* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Header Section */

.header {
  background-color: #636c79;
}

.drop-btn {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 120px;
  margin-top: 30px;
  margin-left: 40px;
  cursor: pointer;
}

.list {
  display: flex;
  justify-content: space-between;
  width: 50rem;
  align-items: center;
}

.list-item {
  text-decoration: none;
  color: #e1e2e2;
  font-size: 15px;
  font-weight: 300;
}

.btn1 {
  background: transparent;
  outline: none;
  color: #e1e2e2;
  border: 1px solid #959697;
  font-size: 15px;
  padding: 10px 42px;
  margin-right: 30px;
  margin-left: 30px;
  font-weight: 400;
  cursor: pointer;
}

.header-sub {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 70px 0;
}

.header-sub > img {
  width: 25rem;
}

.header-sub-content {
  width: 32rem;
}

.header-sub-content h1 {
  font-size: 55px;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 65px;
}

.header-sub-content p {
  font-size: 20px;
  color: #d4d6d9;
  line-height: 30px;
  margin-bottom: 30px;
}

.email-container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 6px;
}

.email-container img {
  width: 30px;
}

.input-field {
  display: flex;
  align-items: center;
  width: 100%;
}

#email {
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  color: #636c79;
  width: 100%;
}

#email::placeholder {
  color: #636c79;
  font-size: 16px;
}

.btn {
  background-color: #8bb7a2;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 16px;
  height: 45px;
  width: 230px;
  font-weight: 600;
  cursor: pointer;
}

/* Stats Section */

.stats {
  margin-top: 100px;
}

.stats h1 {
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  margin-bottom: 40px;
}

.stats-data {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.stat-data h1 {
  margin-bottom: 5px;
  color: #000000;
}

.stat-data p {
  font-size: 17px;
  color: #636c79;
  font-weight: 600;
  margin-bottom: 60px;
}

.stats img {
  width: 85%;
  display: block;
  margin: auto;
}

/* Features Section */

.features {
  margin: 150px auto 0px auto;
  width: 85%;
}

.features-heading {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #000000;
}

.feature-contents {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature-content {
  width: 29rem;
}

.feature-heading {
  font-size: 35px;
  color: #000000;
  font-weight: 600;
  line-height: 45px;
  margin-bottom: 20px;
}

.feature-para {
  font-size: 18px;
  color: #636c79;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

.feature-button {
  width: 150px;
}

.feature-contents img {
  width: 30rem;
}

/* Teams Section */

.teams {
  margin: 150px auto 0px auto;
  width: 85%;
}

.teams-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.teams-content h1 {
  font-size: 35px;
  color: #000000;
  line-height: 45px;
  width: 17rem;
  font-weight: 600;
}

.teams-content p {
  font-size: 18px;
  color: #636c79;
  width: 28rem;
  font-weight: 500;
  line-height: 32px;
}

.team-members-details {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.team-members {
  width: 19rem;
}

.team-members img {
  width: 100%;
}

.team-members h1 {
  margin-top: 15px;
  font-size: 19px;
  font-weight: 600;
  color: #000000;
}

.team-members p {
  margin-top: 15px;
  font-size: 15px;
  color: #636c79;
  font-weight: 400;
  line-height: 23px;
}

.team-button {
  width: 170px;
  height: 50px;
  display: block;
  margin: 50px auto 0px auto;
}

/* Footer Section */

footer {
  margin-top: 100px;
  background-color: #10181d;
  padding: 50px 7.5% 70px 7.5%;
}

.nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.nav-bottom > img {
  width: 110px;
  height: 40px;
  cursor: pointer;
}

.social-media-image {
  width: 45px;
  margin-right: 7px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #42464b;
  margin-bottom: 50px;
}

.footer-contents {
  display: flex;
  justify-content: space-between;
}

.footer-content h4 {
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;
  cursor: pointer;
}

.footer-content p {
  color: #616a77;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px;
  cursor: pointer;
}

/* Media Queries */

@media screen and (max-width: 1160px) {
  /* Header Section */

  .list {
    width: 42rem;
  }

  /* Features Section */

  .feature-contents {
    flex-direction: column-reverse;
    gap: 3rem;
  }

  .feature-contents:nth-of-type(2) {
    flex-direction: column;
  }

  /* Team Section */

  .team-members-details {
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
}

@media screen and (max-width: 955px) {
  /* Header Section */

  .list {
    display: none;
  }

  .drop-btn {
    display: block;
    margin: 0 40px;
    color: #ffffff;
  }

  .header-sub {
    text-align: center;
  }

  .header-sub img {
    display: none;
  }

  .email-container {
    width: 80%;
    margin: auto;
  }

  .header-sub-content {
    width: 95%;
  }

  /* Stats Section */

  .stats-data {
    flex-wrap: wrap;
    gap: 2rem;
  }

  /* Features Section */

  .feature-contents img {
    width: 75%;
  }

  .feature-content {
    text-align: center;
    width: 85%;
  }

  /* Teams Section */

  .teams-content {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .teams-content p {
    width: 100%;
  }

  /* Footer Section */

  .footer-contents {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .nav-bottom {
    gap: 3rem;
  }
}
